body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}



.container-carteira {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 70vh;
  background-color: #333;
  padding: 10px;
  margin-top: 70px;
}


.saldo {
  background-color: #fff;
  padding: 20px;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.titulo-carteira {
  color: #333;
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

.saldo-label {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.saldo-valor {
  font-size: 36px;
  color: #4CAF50;
  margin: 0;
}

.rendimento {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 18px;
}

.rendimento strong {
  font-weight: bold;
}

.rendimento span {
  margin-left: 10px;
}

.link-rank {
  text-decoration: none;
}

@media screen and (max-width: 780px) {
  .container-carteira {
    flex-direction: column;
    gap: 20px;
  }
}