body {
    background-color: #84DFFF;
}

::-webkit-scrollbar {
    width: 0;
}

.container {
    margin-top: 181px;
}

.container-filho {
    width: 100%;
    position: relative;
    height: 100vh;
}


  .bolha {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(2,0,36);
background: linear-gradient(354deg, rgba(2,0,36,1) 0%, rgba(231,231,254,1) 1%, rgba(0,212,255,1) 51%);
    animation: bolhaAnimacao 2s infinite alternate;
    z-index: -999;
  }
  
  .bolha:nth-child(2) {
    width: 190px;
    height: 190px;
    top: 5%;
    left: -1%;
    background: rgb(2,0,36);
background: linear-gradient(22deg, rgba(2,0,36,1) 0%, rgba(231,231,254,1) 1%, rgba(120,158,216,1) 20%);
  }
  
  .bolha:nth-child(3) {
    width: 100px;
    height: 100px;
    top: 23%;
    left:-3%;
    background: rgb(2,0,36);
background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgba(231,231,254,1) 1%, rgba(246,41,249,0.5129310344827587) 51%);
  }

  .bolha:nth-child(4) {
    top: 60%;
    left: 90%;
  }
  

  .bolha:nth-child(5) {
    top: -9%;
    left: 5%;
  }
  
  .bolha:nth-child(6) {
    top: 9;
    left: 40%;
  }
  
  .bolha:nth-child(7) {
    top: 9%;
    left: 10%;
  }

  .bolha:nth-child(8) {
    top: 45%;
    left: 25%;
  }
  
  .bolha:nth-child(9) {
    top: 29%;
    left: 11%;
  }
  
  .bolha:nth-child(10) {
    top: -15%;
    left: 50%;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,236,252,1) 100%);
  }
  
  .bolha:nth-child(11) {
    top: -16%;
    left: 79%;
  }

  .bolha:nth-child(12) {
    top: 50%;
    left: 50%;
  }
  
  
  .div-formulario {
    margin-top: 50px;
    background: rgb(231,231,254);
background: linear-gradient(0deg, rgba(231, 231, 254, 0.808) 1%, rgba(238, 238, 238, 0.932) 51%);
    width: 50%;
    min-height: 300px;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    border-radius: 20px;
    z-index: 999;
    padding: 20px;
  }


  .logo-img-login {
    display: block;
    width: 100px;
    margin: auto;
    margin-top: -50px;
    border-radius: 50%;

  }

  .titulo-bemv {
    margin: 10px auto;
    width: fit-content;
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.253);
  }


  .form {
    margin: auto;
    width: 80%;
    border: 1px dashed #9747FF;
    padding: 10px;
  }

  .inputs {
    margin: auto;
    width: fit-content;
  }

  .inputs .btns004 {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }

  .form .inputs input {
    display: block;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    margin: 20px;
  }
  
  @keyframes bolhaAnimacao {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  @media screen and (max-width: 490px) {


    .container {
        margin-top: 81px;
    }

    .div-formulario {
        background: rgb(231,231,254);
    background: linear-gradient(0deg, rgba(231, 231, 254, 0.808) 1%, rgba(238, 238, 238, 0.932) 51%);
        width: 90%;
        min-height: 300px;
        float: initial;
        margin-top: inherit;
        margin: auto;   
        border-radius: 20px;
        z-index: 999;
        padding: 20px;
        text-align: center;
      }


      .bolha {
        display: none;
      }

  }


  @media screen and (max-width: 390px) {


    .container {
        margin-top: 81px;
    }

    .div-formulario {
        background: rgb(231,231,254);
        background: linear-gradient(0deg, rgba(231, 231, 254, 0.808) 1%, rgba(238, 238, 238, 0.932) 51%);
        width: 90%;
        min-height: 300px;
        float: initial;
        margin-top: inherit;
        margin: auto;
        border-radius: 20px;
        z-index: 999;
        padding: 20px;
        text-align: center;
      }

      .form {
        margin: auto;
        width: 100%;
        border: 1px dashed #9747FF;
        padding: 10px;
      }

      .inputs  {
        margin-bottom: 15px;
      }

      .form .inputs input {
        display: block;
        border: none;
        width: 90%;
        border-radius: 10px;
        outline: none;
        padding: 20px;
        margin: initial;
      }


      .bolha {
        display: none;
      }

      .inputs .btns004 {
        margin-top: 20px;
      }

  }